@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-custom-orange {
    filter: brightness(0) saturate(100%) invert(48%) sepia(76%) saturate(3770%)
      hue-rotate(359deg) brightness(102%) contrast(103%);
  }
}

.menu_link {
  position: relative;
}

.menu_link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  background: #ff6300;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}

.menu_link:hover::after {
  transform: scaleX(1);
}

.hero {
  min-height: 100vh;
}
.service-item__text {
  position: relative;
}
.service-item__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  left: 4px;
  top: 9px;
  height: 8px;
  background-color: #ff6300;
}
